name: Build and Deploy

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64, arm64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build binary
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          EXT=$([ "${{ matrix.goos }}" = "windows" ] && echo ".exe" || echo "")
          mkdir -p dist
          go build -o dist/afonsodev-resume-exporter-${{ github.ref_name }}-${{ matrix.goos }}-${{ matrix.goarch }}${EXT}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Linux AMD64 artifact
        uses: actions/download-artifact@v4
        with:
          name: binary-linux-amd64
          path: dist

      - name: Copy binary to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ vars.SSH_PORT }}
          source: 'dist/*'
          target: '${{ vars.SSH_BASE_PATH }}/'
          strip_components: 1
          overwrite: true

      - name: Symlink latest binary
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ vars.SSH_PORT }}
          script: |
            mkdir -p ${{ vars.SSH_BASE_PATH }}
            chmod +x ${{ vars.SSH_BASE_PATH }}/afonsodev-resume-exporter-${{ github.ref_name }}-linux-amd64
            ln -sf ${{ vars.SSH_BASE_PATH }}/afonsodev-resume-exporter-${{ github.ref_name }}-linux-amd64 \
                   ${{ vars.SSH_BASE_PATH }}/afonsodev-resume-exporter
